# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# System Files
.DS_Store
Thumbs.db

#secrets
backend/auth-api/.k8s/secrets/repoToken
backend/auth-api/.k8s/secrets/encoderPassword
backend/auth-api/.k8s/secrets/encoderSalt
backend/auth-api/.k8s/secrets/jwtSecret
backend/auth-api/.k8s/secrets/repoUrl
backend/auth-api/.k8s/secrets/publicKey.pem
backend/auth-api/.k8s/secrets/privateKey.pem

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
